Debug/*
ConsoleApplication1/ConsoleApplication1
*.sdf
*.opensdf
*.suo
*.obj
*/Debug/*
*.filters
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

